<footer class="bg-gray-950 text-white py-6 mt-12">
  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-4 text-sm">



    <!-- Redes sociales -->
<!-- Redes sociales -->
<div class="flex gap-6 mt-4">
  <a href="https://facebook.com/bigbikew" target="_blank" aria-label="Facebook" class="hover:text-sky-500 transition text-2xl">
    <i class="fa-brands fa-facebook"></i>
  </a>

  <a href="https://instagram.com/bigbikew" target="_blank" aria-label="Instagram" class="hover:text-pink-900 transition text-2xl">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="https://wa.me/573188180281" target="_blank" aria-label="WhatsApp" class="hover:text-green-400 transition text-2xl">
    <i class="fa-brands fa-whatsapp"></i>
  </a>
</div>


    <!-- Año -->
    <div class="text-center md:text-right text-gray-400">
      © {{ year }} Big Bike Workshop. Todos los derechos reservados.
    <p> <i class="fa-brands fa-instagram"></i> aguirrelucho</p>
    </div>
  </div>
</footer>

