<div class="max-w-md mx-auto bg-white p-6 rounded shadow mt-8 flex justify-center gap-4 flex-wrap">

  <h2 class="text-xl font-bold mb-4">Buscar QR de Cliente</h2>

  <input [(ngModel)]="documento" class="w-full border px-3 py-2 rounded mb-4" placeholder="Documento de identidad" />
<div class="flex w-full justify-center">
    <button
    (click)="buscarQR()"
    class="flex items-center gap-2 bg-gradient-to-r from-blue-400 to-blue-600 hover:from-blue-600 hover:to-indigo-700 text-white font-semibold px-6 py-2 rounded-full shadow-md hover:scale-105 active:scale-95 transition-transform duration-300"
  >
   <i class="fa-solid fa-magnifying-glass"></i>
    Buscar
  </button>
</div>

  <div *ngIf="qrUrl">
    <p class="text-center font-semibold mb-2">QR de {{ clienteNombre }}</p>
    <img [src]="qrUrl" alt="QR del Cliente" class="mx-auto w-40 mb-4 border rounded shadow" />

   <div class="flex justify-center">
    <div class="flex justify-between"  *ngIf="qrUrl">
<div
  class="flex flex-wrap justify-center sm:justify-between gap-4 text-center"
  *ngIf="qrUrl"
>
  <button
    (click)="printQR()"
    class="flex-1 sm:flex-none flex justify-center items-center gap-2 min-w-[150px] bg-gradient-to-r from-yellow-400 to-orange-600 hover:from-blue-600 hover:to-indigo-700 text-white font-semibold px-6 py-2 rounded-full shadow-md hover:scale-105 active:scale-95 transition-transform duration-300"
  >
    <i class="fa-solid fa-print"></i>
    Imprimir
  </button>

  <!-- <button
    (click)="sendQRToWhatsApp(phoneClient)"
    class="flex-1 sm:flex-none flex justify-center items-center gap-2 min-w-[150px] bg-gradient-to-r from-green-600 to-blue-600 hover:from-blue-900 hover:to-indigo-700 text-white font-semibold px-6 py-2 rounded-full shadow-md hover:scale-105 active:scale-95 transition-transform duration-300"
  >
    <i class="fa-brands fa-whatsapp"></i>
    Enviar
  </button> -->
</div>

</div>

</div>
  </div>

  <div *ngIf="qrUrl" class="flex flex-col sm:flex-row justify-center items-center gap-4 mt-4">
  <button
    (click)="enviarPorWhatsApp('personal')"
    class="flex items-center gap-2 px-5 py-2 rounded-full bg-green-600 hover:bg-green-700 text-white font-semibold shadow transition-transform duration-200 hover:scale-105"
  >
    <i class="fa-brands fa-whatsapp text-lg"></i>
    WhatsApp Personal
  </button>

  <button
    (click)="enviarPorWhatsApp('business')"
    class="flex items-center gap-2 px-5 py-2 rounded-full bg-blue-600 hover:bg-blue-700 text-white font-semibold shadow transition-transform duration-200 hover:scale-105"
  >
    <i class="fa-solid fa-briefcase text-lg"></i>
    WhatsApp Business
  </button>
</div>
</div>
