
<h2 class="text-2xl font-bold text-center text-gray-700 mt-4 mb-3">
  <i class="fas fa-bicycle mr-2 text-gray-700"></i>
  Historial de Mantenimientos
</h2>

<div class="flex flex-col justify-center items-center gap-4">
  <!-- Escanear QR (cámara) -->

  <app-escanear-cliente (codeScanned)="onQrScanned($event)"></app-escanear-cliente>

  <!-- Botón cargar imagen -->
  <div class="ms-0 md:ms-2">
    <button
      (click)="qrImageInput.click()"
      class="flex items-center gap-2 bg-gradient-to-r from-yellow-500 to-orange-600 hover:from-yellow-600 hover:to-orange-700 text-white font-semibold px-6 py-2 rounded-full shadow-md hover:scale-105 active:scale-95 transition-transform duration-300"
    >
      <i class="fas fa-image text-lg"></i>
      Cargar imagen QR
    </button>

    <!-- Input oculto -->
    <input
      type="file"
      accept="image/*"
      #qrImageInput
      (change)="leerImagenQR($event)"
      class="hidden"
    />
  </div>
</div>

<div >
   <h2 class="text-xl font-bold  mt-4 mb-4 text-center bg-white-100">{{this.form.name}}</h2>
</div>
<div *ngFor="let cita of historialCliente" class="m-2 flex flex-col md:flex-row  bg-white border border-gray-200 rounded-lg shadow-md p-4 mb-4 flex gap-4 items-start hover:shadow-lg transition-shadow duration-300">
  <!-- Contenido -->
  <div class="w-full space-y-1 text-sm text-gray-700">
  <div>
    <strong>Servicios:</strong>
    <ul class="list-disc list-inside">
      <li *ngFor="let servicio of cita.servicios">
        {{ servicio.name }} - ${{ servicio.price | number:'1.0-0' }}
      </li>
    </ul>
  </div>
  <p><i class="fas fa-calendar-alt mr-2 text-cyan-600"></i><strong>Fecha:</strong>  {{ formatFecha(cita.date) }}</p>
  <p><i class="fas fa-bicycle mr-2 text-yellow-600"></i><strong>Bicicleta:</strong> {{ cita.bikeModel }}</p>
  <p *ngIf="cita.description">
    <i class="fas fa-sticky-note mr-2 text-indigo-500"></i><strong>Observaciones:</strong> {{ cita.description }}
  </p>
  <p>
    <i class="fas fa-dollar-sign mr-2 text-green-600"></i><strong>Total a pagar:</strong>
    ${{ cita.price | number:'1.0-0' }}
  </p>
  <p>
    <i class="fas fa-check-circle mr-2 text-gray-500"></i><strong>Estado:</strong> {{ cita.status }}
  </p>
</div>

    <!-- Icono o imagen -->
  <div class="w-full md:w-40 md:h-40 flex-shrink-0 md:ml-4"  *ngIf="cita.imageUrl">
    <img
      [src]="cita.imageUrl || '/assets/images/bike-icon.png'"
      alt="Imagen cita"
      class="w-full h-full object-cover rounded-md shadow cursor-pointer"
      (click)="abrirModalImagen(cita.imageUrl)
      "
    />
  </div>

  <div
  *ngIf="mostrarModalImagen"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 px-4"
  (click)="cerrarModalImagen()"
>
  <div
    class="bg-white rounded-xl max-w-xl w-full p-6 shadow-lg relative animate-fade-in"
    (click)="$event.stopPropagation()"
  >
    <button
      class="absolute top-1 right-2 text-gray-500 hover:text-black text-lg"
      (click)="cerrarModalImagen()"
    >
      ✖
    </button>
    <img
      [src]="imagenModalUrl"
      alt="Imagen ampliada"
      class="w-full h-auto rounded object-contain"
    />
  </div>
</div>

